
/* initial setting */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: url('./asset/bg.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
}

/* navigation bar css coding */
.main-container{
   
    padding-bottom: 10px;
    height: 100%;
    
}

.logo{
    height: 64px;
    width: auto;
    filter: invert(100%);
}

.navigation-items{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(209, 28, 58);
    margin: 20px;
    width: fit-content;
}

.navigation-items:hover{
    color: white;
    background-color: rgb(209, 28, 58);
}

/* coding for sign up and sign-in form */

.sign-up-form{
    background-color: white;
   width: 300px;
   box-shadow: 0 0 3px 0 rgba(0,0,0,0.3); 
   padding: 20px;
   margin: 0 auto 0;
   text-align: center;
}

.sign-up-form h1 
{
    color:rgb(221, 40, 40);
    margin-bottom: 30px;
}

.input-bx
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}


.btn-sign-up-box{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn
{
    background-color:rgb(221, 40, 40);
}

.twitter-btn
{
    background-color: #21afde;
}

hr
{
    margin-top: 20px;
    width: 80%;
}

.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

.SIGNBTN:hover{
    color: white;
   background-color: black;
   font-weight: bolder;
}


/* coding for social networking button */
.social{
    flex-direction: row;
    justify-content: center;
}

.facebook, .linkedin, .twitter{
   margin: 0px 20px;
    color: #ff4444;
}

.facebook:hover{
    color: 	#4267B2;
    
}

.twitter:hover{
    color: #1DA1F2;
}

.linkedin:hover{
    color: #0072b1;
}

