*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}


/* CODING FOR THE NAVIGATION  */

.main-container{
    background-color: black;
    padding-bottom: 10px;
    height: 100%;
    
}

.logo{
    height: 64px;
    width: auto;
    filter: invert(100%);
}

.navigation-items{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(209, 28, 58);
    margin: 20px auto;
    width: fit-content;
}

.navigation-items:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(209, 28, 58);
    border-radius: 9px;
}

.lineItem{
   margin: 20px;
   padding: 30px;

}

/* CODING FOR THE CART */
.userDetail
{
   width: 294px;
  
   background-color: white;
   position:fixed;
   right: 15px;
   z-index: 2;
   top: 64px;
   border-radius: 16px;
   border: 1px solid black;
   display: none;
}

.userDetailChange{
   display: block;
}


.user{
    position: fixed;
    top: 18px;
    right: 20px;
    color:rgb(209, 28, 58) ;
    cursor: pointer;
}

.user:hover{
    color: white;
}


.myCart
{  color:rgb(209, 28, 58) ;
    cursor: pointer;
}

.myCart:hover
{
  color: white;
}



/* CODING FOR THE CORUSEL ITEMS */

.carousel-item{
    height: 87vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-item::before{
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: #000;
opacity: 0.7;

}
 .carousel-caption {
bottom: 180px;
padding-left: 100px;
padding-right: 100px;
 }




