
/* INITIAL SETTING */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/* CODING FOR NAVIGATION BAR */
.main-container{
    background-color: black;
    padding-bottom: 10px;
    height: 100%;
    
}

.logo{
    height: 64px;
    width: auto;
    filter: invert(100%);
}
.navbar{
    background-color: black;
}

.navigation-items{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(209, 28, 58);
    margin: 20px;
    width: fit-content;
}

.navigation-items:hover{
    color: white;
    background-color: rgb(209, 28, 58);
}

.lineItem{
   margin: 20px;
   padding: 30px;

}

/* CODING FOR THE CART */
.cartNo{
    color: white;
    font-weight: bold;
    
}

.right-nav
{
justify-content: center;
}

.shopingCart
{
cursor: pointer;
color: rgb(209, 28, 58);
}

.shopingCart:hover
{
color: white;
}
